node_modules
.vite
.svelte-kit
build
dist
.DS_Store
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
NRBC_D10_L1.gpkg
NRBC_anony.gpkg
static/D10_UAV.mbtiles
static/Farm_Survey.qgz
static/wucs2-TLBC/
api/.venv/
__pycache__/
*.pyc
.Python
