@import 'tailwindcss';

@layer base {
	body {
		@apply m-0 antialiased;
		background: #f4f7fb;
		color: #00296b;
		font-family: 'Montserrat', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Josefin Sans', sans-serif;
	}
}
